@import url('https://fonts.googleapis.com/css2?family=Arima+Madurai:wght@700;900&family=Poppins:wght@400;500;600&family=Noto+Sans+Tamil:wght@400;500;700&display=swap');

@import "tailwindcss";

/* Fonts */

:root {
  --primary: #B31B38;
  --text-dark: #222222;
}

html {
  scroll-behavior: smooth;
}

/* Font utility classes */
.font-arima {
  font-family: 'Arima Madurai', cursive;
}

.font-poppins {
  font-family: 'Poppins', sans-serif;
}

.font-tamil {
  font-family: 'Noto Sans Tamil', sans-serif;
}